.App {
  text-align: center;
}

.component {
  background-color: aqua;
}

.function {
  background-color: orangered;
}

.back {
  border: solid gold 1rem;
}

.background {
  border: solid black 1rem;
}